In [1]:
import csv
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [2]:
df = pd.read_csv('weight-height (1).csv')
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [3]:
label_enc = LabelEncoder()
std_scaler = StandardScaler()

df.Gender = label_enc.fit_transform(df.Gender)
df[["Gender", "Height"]] = std_scaler.fit_transform(df[["Gender", "Height"]])

In [4]:
df

      Gender    Height      Weight
0        1.0  1.944061  241.893563
1        1.0  0.627537  162.310473
2        1.0  2.012443  212.740856
3        1.0  1.394060  220.042470
4        1.0  0.913421  206.349801
...      ...       ...         ...
9995    -1.0 -0.050660  136.777454
9996    -1.0  0.181839  170.867906
9997    -1.0 -0.649688  128.475319
9998    -1.0  0.693125  163.852461
9999    -1.0 -1.149708  113.649103

[10000 rows x 3 columns]

In [5]:
X = df[["Gender", "Height"]]
X

      Gender    Height
0        1.0  1.944061
1        1.0  0.627537
2        1.0  2.012443
3        1.0  1.394060
4        1.0  0.913421
...      ...       ...
9995    -1.0 -0.050660
9996    -1.0  0.181839
9997    -1.0 -0.649688
9998    -1.0  0.693125
9999    -1.0 -1.149708

[10000 rows x 2 columns]

In [6]:
y = df["Weight"]
y

0       241.893563
1       162.310473
2       212.740856
3       220.042470
4       206.349801
           ...
9995    136.777454
9996    170.867906
9997    128.475319
9998    163.852461
9999    113.649103
Name: Weight, Length: 10000, dtype: float64

In [7]:
lin_regr = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y)

model = lin_regr.fit(X_train, y_train)

In [8]:
accuracy = model.score(X_test, y_test)

In [9]:
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 90.46033157872047%

In [10]:
joblib.dump((model, std_scaler), "weight-prediction-using-linear-regression.pkl")

['weight-prediction-using-linear-regression.pkl']