In [1]:
import csv
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [2]:
df = pd.read_csv('weight-height (1).csv')
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [3]:
label_enc = LabelEncoder()
#std_scaler = StandardScaler()

df.Gender = label_enc.fit_transform(df.Gender)
#df[["Gender", "Height"]] = std_scaler.fit_transform(df[["Gender", "Height"]])

In [4]:
df

      Gender     Height      Weight
0          1  73.847017  241.893563
1          1  68.781904  162.310473
2          1  74.110105  212.740856
3          1  71.730978  220.042470
4          1  69.881796  206.349801
...      ...        ...         ...
9995       0  66.172652  136.777454
9996       0  67.067155  170.867906
9997       0  63.867992  128.475319
9998       0  69.034243  163.852461
9999       0  61.944246  113.649103

[10000 rows x 3 columns]

In [5]:
X = df[["Gender", "Height"]]
X

      Gender     Height
0          1  73.847017
1          1  68.781904
2          1  74.110105
3          1  71.730978
4          1  69.881796
...      ...        ...
9995       0  66.172652
9996       0  67.067155
9997       0  63.867992
9998       0  69.034243
9999       0  61.944246

[10000 rows x 2 columns]

In [6]:
y = df["Weight"]
y

0       241.893563
1       162.310473
2       212.740856
3       220.042470
4       206.349801
           ...
9995    136.777454
9996    170.867906
9997    128.475319
9998    163.852461
9999    113.649103
Name: Weight, Length: 10000, dtype: float64

In [7]:
lin_regr = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y)

model = lin_regr.fit(X_train, y_train)

In [8]:
accuracy = model.score(X_test, y_test)

In [9]:
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 89.99002165732986%

In [10]:
X_test

      Gender     Height
9672       0  63.740399
5469       0  65.053383
1720       1  66.914894
7825       0  66.287442
796        1  68.068922
...      ...        ...
9935       0  64.173758
2234       1  65.077902
5596       0  62.763724
2140       1  72.446348
9944       0  60.444547

[2500 rows x 2 columns]

In [11]:
y_test

9672    146.839515
5469    150.106494
1720    169.882490
7825    168.905572
796     166.263500
           ...
9935    125.647821
2234    165.313807
5596    134.619078
2140    196.632239
9944    115.440498
Name: Weight, Length: 2500, dtype: float64

In [25]:
cdmodel.predict([[1,63.740399]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([155.50871242])

In [13]:
#joblib.dump((model, std_scaler), "weight-prediction-using-linear-regression.pkl")
joblib.dump((model), "weight-prediction-using-linear-regression.pkl")

['weight-prediction-using-linear-regression.pkl']